<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metro Map</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Namma Metro Map</h1>
        <p>Explore Bengaluru's Metro Network</p>
    </header>
    <main>
        <img src="/static/Metro_map.jpg" alt="Namma Metro Phase II Line Map" class="full-page-image">
    </main>
    <footer>
        &copy; 2025 Bengaluru Metro Guide
    </footer>
</body>
</html>
